:root {
    --color-letter: rgb(12, 12, 12);
    --color-light: rgb(237, 241, 237);
    --color-dark: rgb(0, 0, 0);
}

html {    
    font-family: "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
    font-size: 16px;
    max-width: 60em;
    height: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 2em 8em;
    background: var(--color-light);
    color: var(--color-letter);
}

a:hover {
    background: var(--color-letter);
    color: var(--color-light);
}
a {
    text-decoration: none;
    color: inherit;
}

.heading {
    /* font-weight: bold; */
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

img {
    width: 70%;
    margin-bottom:100px;
}

@media (max-width: 430px) {
    html {
        font-size: 12px;
    }
    body {
        padding: 0 0.5em;
        border: none;
    }
}